* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: url(bg.png);
  background-size: cover;
  background-position: center center;

  min-height: 100vh;
}

p {
  font-size: 2rem;
  width: 700px;
  position: fixed;

  top: 4rem;
  left: 3rem;
}

h1 {
  background-color: #fff;
  font-size: 5rem;
  font-weight: 200;

  padding: 1.5rem;
  position: fixed;
  top: 15rem;
  left: 2rem;
}

a {
  position: fixed;
  top: 2rem;
  right: 3rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
}

ul {
  position: fixed;
  right: 5rem;
  font-size: 2rem;
  top: 20rem;
}

h2 {
  position: fixed;
  top: 35rem;
  left: 20rem;

  text-align: right;
}

h2 span {
  background-color: #556272;
  color: #fff;
  padding: 2rem;
  display: inline-block;
}

h2 span:last-child {
  transform: translate(-1rem, -1rem);
}
